.main-container {
  height: 80px;
  margin: 30px;
  background-color: black;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.help-container {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.submit-container {
  margin: 5%;
}

/*Styles Buttons*/

.help-button {
  width: 100px;
  height: 20px;
  padding: 10px;
  background-color: black;
  color: white;
  text-align: left;
  font-size: 25px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

  
}

.help-button:first-child {
  border-right: 1px solid white;
}

.help-button:hover {
  cursor: pointer;
}

.logo-principal {
  height: 50px;
}

